{% extends "articles/base.html" %}
{% block content %}

<div class="row" style="padding-top:50px;">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        {% for article in articles %}
        <h2>{{ article.title }}</h2>
        <p>Published on {{ article.date_published }} by {{ article.author }} </p>
        <img src="{{ article.picture }}" alt="{{ article.title }}" class="img-thumbnail">
        <p>{{ article.text }}</p>
        <br>
        <hr>
        {% endfor %}
    </div>
    <div class="col-sm-3"></div>
</div>

{% endblock content %}